<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat app</title>
</head>

<body>
    <h1>My chat app</h1>

    <!-- The action of the form is "/chat" which will do a GET request 
    in the chat @route when the submit button is clicked -->
    <form action="/chat">

        <div>
            <label>Enter your username:</label>
            <input type="text" name="username">
        </div>


        <div>
            <label>Enter the  room  id:</label>
            <input type="text" name="room">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>